[user]
  email = antonhub00@gmail.com
  name = Antonio Ochoa
[difftool]
  prompt = false
[mergetool]
  prompt = false


; Neovim as editor
[core]
  editor = nvim
[difftool "vimdiff"]
  cmd = nvim -d -u ~/.config/nvim/init.lua $LOCAL $REMOTE
[diff]
  tool = vimdiff
[mergetool "vimdiff"]
  cmd = nvim -d -u ~/.config/nvim/init.lua $MERGED
[merge]
  tool = vimdiff
  conflictstyle = diff3
