snippet pr "print function"
print('${1:sample text}')
endsnippet

snippet prt "print function with triple quotes"
print('''${1:sample text}''')
endsnippet

snippet prf "print function with f string"
print(f'${1:sample text}')
endsnippet

snippet prft "print function with f string and triple quotes"
print(f'''${1:sample text}''')
endsnippet
