[core]
	editor = nvim
[user]
	email = antonhub00@gmail.com
	name = Antonio Ochoa
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d -u ~/.config/nvim/init.vim \"$REMOTE\" \"$LOCAL\""
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[mergetool "nvimdiff"]
    cmd = "nvim -d -u ~/.config/nvim/init.vim \"$REMOTE\" \"$LOCAL\" \"$MERGED\""
    ; cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
	prompt = false
[mergetool]
	prompt = false
